.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align:center;
  margin: 0px auto;
}
#HowTo .paragraph{
	text-align: left;
  font-size: 20px
}
#GamePage #currentQuals h2{
	color: red;
}
#GamePage h2{
  font-size: 30px
}
#ScorePage h1{
  font-size: 30px
}
#GamePage h4{
  font-size: 25px
}
input[type="text"] {
  width: 200px;
}
strong{
	color: red;
}